* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url('bild.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

#game-container {
    background-color: rgba(26, 26, 26, 0.9);
    color: #c0c0c0;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    border: 3px solid #c0c0c0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hero-card {
    flex: 1;
    max-width: 40%;
    border: 2px solid #c0c0c0;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 10px;
}

#fighter-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#shop-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
}

h1, h2, p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    width: 100%;
}

li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #45a049;
}

#current-location {
    margin-top: 2rem;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 1rem;
}

#shop-text-display, #player-text-display {
    margin-top: 1rem;
}

#leave-button {
    margin-top: 2rem;
}
